@page "/MiniGames"
<img src="../Images/roulette_game.png">
<div class="position-absolute top-0 w-100" style="height: 100vh;">
</div>


@code {
    [Parameter]
    public string ReelAState { get; set; }
    [Parameter]
    public string ReelBState { get; set; }
}


